/* Profile.css */
.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .profile_image {
    flex: 1;
    text-align: center;
  }
  
  .profile_image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px whitesmoke;
  }
  
  .profile_details {
    flex: 2;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .profile_details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile_details p {
    margin: 5px 0;
  }
  
  .profile_details span {
    font-weight: bold;
    margin-right: 5px;
    color: black;
  }
  
  .episodes {
    margin-top: 20px;
  }
  
 
  
  .episodeList {
    width: 100%; /* Ensure the list takes up the full width */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent the episodes from wrapping to the next line */
  }
  
  ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 10px; /* Add some spacing between episodes */
  }
  
  /* Add any other styling for the list items (e.g., links) as needed */
  