.location_filter {
    background-color: rgb(68, 67, 67);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
  }
  
  .location_filter select {
    height: 2.5rem;
    border-radius: 0.3rem;
    width: 8.5em;
    padding: 0.3rem;
    font-size: 1.1rem;
    background-color: rgb(245, 245, 245);
  }
  
  .location_filter h2 {
    color: rgb(65, 189, 102);
  }
  

  /* Media Query for Tablet and Below */

  /* Media Query for Tablet and Below */
  @media screen and (max-width: 950px) {
    .location_filter {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 1em;
      margin-top: 120px;
    }
}


  @media screen and (max-width: 768px) {
    .location_filter {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 1em;
      margin-top: 3%;
    }
  
    .location_filter select {
      width: 90%;
      margin-top: 1rem;
    }

    
   /* .location_filter option{ */
    /* greeen */
   /* } */
  }
  

    /* Media Query for Tablet and Below */
    @media screen and (max-width: 768px) {
        .location_filter {
          flex-direction: column;
          align-items: flex-start;
          height: auto;
          padding: 1em;
          margin-top: 3%;
        }
    }