
.navbar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav_list {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.nav_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.nav_item a:hover {
  background-color: #ddd;
  color: black;
}

@media  (max-width: 950px) {
  .nav_list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav_item {
    padding: 0em;
    font-size: 1.1rem;
    gap: 0em;
  }

  .nav_list {
    gap: 0%;
  }
  
.nav_item a{
    padding: 0.1rem;
    font-size: 1.1rem;
}
}
