.Filters{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     width: 100%;
}
 input{
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 1px 1px gray;
    border: none;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 

 .Filters select{
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.2rem;
    box-shadow: 0px 0px 1px 1px gray;

 }
 .Filters select option{
    background-color: rgb(64, 87, 87);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
 }

 span{
     padding: 0.3rem;
     font-size: 1.1rem;
     margin-right: .0.3rem;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
}

.menue{
    display:  none;
    position:fixed;
    width: 100%;
    top:0%;
    right: 0%;
    background-color: rgb(27, 24, 24);

   
}
.menue button{
     font-size: 1rem;
    background-color: green;
    border-radius: 0.3rem;
    height: 2rem;
    z-index: 2;

}
.mobileview_filter{
 width: 12rem;
 position: fixed;
 top: 5%;
 background-color: rgb(19, 18, 18);
 padding: 2%;
 display: flex;
 flex-direction: column;
 gap:1rem;
 transition: all 1s;
 color: aliceblue;
 z-index: 1;
 height: 100%;

 
}

.mobileview_filter select{
    width: 3.5rem;
    border-radius: 0.2rem;
}
@media (max-width:850px){
  .Filters{
    display: none;
  }
  .menue{
    display: block;
  }
  
}
@media (min-width:850px){
.mobileview_filter {
    display: none;
}
    
    
  }